*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary: #ff7e5f;
    --primary-dark: #eb5e41;
    --primary-light: #ffb199;
    --secondary: #0ba360;
    --text-dark: #333333;
    --text-light: #f8f9fa;
    --backgroud: #ffffff;
    --background-light: ##f8f9fa;
    --card-bg: #ffffff;
    --border-radius: 8px;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

body{
    background-color: var(--background-light);
    color: var(--text-dark);
    line-height: 1.6;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
header{
    text-align:center;
    margin-bottom: 2rem;
}
h1{
    font-size: 2.2rem;
    color:var(--primary);
    margin-bottom: 0.5rem;
}
h1 i{
    margin-right: 10px;
}

header p{
    color:var(--text-dark);
    opacity:0.7;
}
.search-container{
    display: flex;
    margin-bottom: 2rem;
    gap: 10px;
    max-width: 500px;
    margin-left:auto;
    margin-right: auto;
}

input[type='text']{
    flex:1;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    background-color: var(--background);
    color: var(--text-dark);
    outline: none;
}